@model IEnumerable<ProdutoEntity>
@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Areas/App/Views/Shared/_Dashboard.cshtml";
}

<div id="index-produto" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow my-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="row no-gutters align-items-center mt-3">
                            <div class="col-auto">
                                <i class="fas fa-box fa-2x text-gray-300 p-2"></i>
                            </div>
                            <div class="col mr-2">
                                <h3 class="h4 mb-0 font-weight-bold">
                                    <small class="d-block text-xs font-weight-bold text-gray-800 text-uppercase mb-1">
                                        Cadastro
                                    </small>
                                    @ViewData["Title"]
                                </h3>
                            </div>
                        </div>
                        <div class="btn-toolbar" role="toolbar">
                            <div role="group" class="btn-group align-items-center">
                                <a class="accordion-toggle" data-toggle="collapse" href="#tab-index-produto" aria-expanded="true" aria-controls="tab-index-produto">
                                    <i class="fa" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a data-action="trocar-index-produto" class="nav-link active disabled" data-toggle="tab" role="tab" aria-controls="tab-index-produto">
                                <i class="fa-fw fas fa-box"></i>
                                <h4 class="text-xs d-none d-md-inline text-uppercase font-weight-bold">
                                    @ViewData["Title"]
                                </h4>
                            </a>
                        </li>
                    </ul>
                    <div id="tab-index-produto" class="tab-content collapse show mb-3">
                        <div class="tab-pane fade show active mt-3 mx-3" role="tabpanel">
                            @await Html.PartialAsync("_Lista.cshtml", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            const $indexProduto = $('#index-produto');

            $(document).ready(function () {
                webapp.ui.tabelabt.ativa('.table');
            });

            $(document).ajaxComplete(function () { });
        });
    </script>
}