@model RedeSocialEntity

<form id="edita-redesocial" class="form-row" asp-action="_Edita" asp-controller="RedesSociais" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="IdDominio" />
    <input type="hidden" asp-for="Canal" />
    <div class="form-group col-sm-12 mb-3">
        <label asp-for="Url" class="control-label small">@Model.Canal.GetEnumDisplay()</label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group col-sm-12 mb-3 text-right">
        <div class="form-check">
            <input class="form-check-input" asp-for="Inativo" />
            <label class="form-check-label">
                @Html.DisplayNameFor(model => model.Inativo)
            </label>
        </div>
    </div>
    <div class="col-12 text-center shadow-none p-3 bg-light rounded border">
        <div class="d-grid gap-2 d-md-block">
            <a asp-route="Index"class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text d-none d-md-block">Voltar</span>
            </a>
            <button data-action="salvar-edita" type="submit" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text d-none d-md-block">Salvar</span>
            </button>
            <a data-action="apagar-modal" asp-action="Apaga" asp-controller="RedesSociais" asp-route-id="@Model.Id" class="btn btn-danger btn-icon-split @(Model.Id == 0 ? "disabled" : "")">
                <span class="icon text-white-50">
                    <i class="fas fa-eraser"></i>
                </span>
                <span class="text d-none d-md-block">Apagar</span>
            </a>
        </div>
    </div>
</form>