<label class="control-label small">Layout</label>
<div class="bg-00 min-vh-100 border p-3">
    <div class="h-25">
        <img src="~/img/bg01.jpg" alt="Promoção" class="img-fluid" />
    </div>
    <div class="h-25">
        <img src="~/img/bg02.jpg" alt="Sobre-nós" class="img-fluid" />
    </div>
    <div class="h-25">
        <img src="~/img/bg03.jpg" alt="Produtos" class="img-fluid" />
    </div>
    <div class="h-25">
        <img src="~/img/bg04.jpg" alt="Contatos" class="img-fluid" />
    </div>
</div>