@model Logo

<div id="logo" class="logo mr-auto">
    @if (string.IsNullOrWhiteSpace(Model.Url))
    {
        <h1 class="text-light">
            <a asp-action="Index" asp-controller="Home"><span>@Model.Titulo</span></a>
        </h1>
    }
    else
    {
        <h1 class="text-light">
            <a asp-action="Index" asp-controller="Home">
                <img src="@Model.Url" alt="@Model.Titulo" class="img-fluid animate__animated animate__fadeIn animate__delay-1s">
            </a>
        </h1>
    }
</div>
