<div id="menu" class="collapse navbar-collapse">
    <!-- links/scroll-to-div -->
    <ul class="navbar-nav ml-auto animate__animated animate__fadeIn">
        <li class="nav-item active">
            <a href="#pagina" class="nav-link text-uppercase font-weight-bold scroll-to-div">
                <i class="fas fa-home"></i> <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#index-home-sobrenos" class="nav-link text-uppercase font-weight-bold scroll-to-div">Sobre-nós</a>
        </li>
        <li class="nav-item">
            <a href="#index-home-produtos" class="nav-link text-uppercase font-weight-bold scroll-to-div">Produtos</a>
        </li>
        <li class="nav-item">
            <a href="#index-home-contatos" class="nav-link text-uppercase font-weight-bold scroll-to-div">Contatos</a>
        </li>
    </ul>
</div>