<div id="menu" class="collapse navbar-collapse">
    <!-- links/scroll-to-div -->
    <ul class="navbar-nav ml-auto animate__animated animate__fadeIn">
        <li class="nav-item active">
            <a asp-action="Index" asp-controller="Home" class="nav-link text-uppercase font-weight-bold scroll-to-div">
                <i class="fas fa-home"></i> <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#index-promocao-catalogo" class="nav-link text-uppercase font-weight-bold scroll-to-div">Promoção</a>
        </li>
    </ul>
</div>