@model UsuarioEntity

<form id="apaga-usuario" asp-action="_Apaga" asp-controller="Usuarios" method="post">
    <div class="text-center align-middle">
        <h6 class="h3 text-danger text-uppercase font-weight-bold my-2">Atenção</h6>
        <p>Deseja a exclusão desse registro?</p>
    </div>
    <input asp-for="Id" type="hidden" />
</form>
